.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 638px;
    height: 99px;
}
.site-name {
    font-weight: 700;
    font-size: 135px;
    color: #fd5e53;
}
.divider {
    width: 1215px;
    height: 1px;
    background-color: #fd5e53;
    margin: 30px 0;
}
.ment-email {
    color: #666666;
    padding-bottom: 30px;
    width: 638px;
    text-align: left;
    padding-left: 2px;
    font-size: 20px;
}
.form-group {
    margin-bottom: 20px;
    flex-direction: column;
}
.doublecheck-id {
    width: 100%;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
}
.err_certification {
    color: #fd5e53;
    margin-left: 20px;
}

.err-doublecheck {
    display: flex;
    width: 638px;
    height: 100%;
    font-size: 20px;
    color: #c7c4c4;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
}

.validation-icon-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: #fd5e53;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 580px;
    opacity: 0;
}

.re-send-c-code {
    color: #fd5e53;
    font-size: 17px;
    display: flex;
    margin-bottom: 15px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.submit-button-re-pw {
    width: 638px;
    height: 99px;
    background-color: #fd5e53;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}
