* {
	box-sizing: border-box;
}

.community-frame {
	height: 100vh;
	display: flex;
	justify-content: center;
	
}

.community-section {
	padding-top: 130px;
	height: 100vh;
	width: 530px;
	min-width: 530px;
}

.community-section1 {
	height: 200px;
	border: 1px solid #C7C4C4;
	border-radius: 8px;
	padding-left: 25px;
	padding-right: 25px;
}

.comm-sec1-top {
	height: 35px;
	display: flex;
	font-size: 13px;
	padding-top: 15px;
}

#life-btn, #certification-btn {
	display: flex;	
	cursor: pointer;
}

#life-btn {
	margin-right: 25px;
}

.small-circle1 {
	background-color: #FD5E53;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	margin-right: 7px;
	margin-top: 1.5px;
	border: 1px solid #FD5E53;
}

.life-btn2 {
	color: #FD5E53;
}

.small-circle2 {
	border: 1px solid #666666;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	margin-right: 7px;
	color: #666666;
	margin-top: 1.5px;
}

.certification-btn2 {
	color: #666666;
}

.comm-sec1-mid {
	height: 110px;
	padding-top: 10px;
}

#input-text {
	border: 0px;
	width: 100%;
	font-size: 18px;
	height: 110px;
	resize: none;
	outline: none;
}

#input-text::placeholder, #imput-text2::placeholder {
	color: #C7C4C4;
}

.community-section2 {
	margin-top: 30px;
	margin-bottom: 28px;
}

#comm-select {
	height: 40px;
	width: 120px;
	font-size: 14px;
	padding-left: 10px;
	color: #666666;
	border: 1px solid #C7C4C4;
	border-radius: 3px;
}

.comm-sec1-bottom {
	height: 40px;
	display: flex;
	padding-top: 10px;
	align-items: center;
}

#add-img {
	height: 25px;
	width: 25px;
	cursor: pointer;
	margin-right: 10px;
}

#show-img {
	width: 30px;
	height: 30px;
}

.post-btn {
	width: 70px;
	border: none;
	border-radius: 30px;
	background-color: #FD5E53;
	color: white;
	height: 30px;
	font-size: 13px;
	cursor: pointer;
	margin-left: auto;
}

#comm-crew-img {
	width: 530px;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;

}

.comm-sec3-top {
	display: flex;
	height: 45px;
	font-size: 15px;
	margin-bottom: 22px;
}

#small-circle3 {
	width: 5px;
	height: 5px;
	border-radius: 50px;
	background-color: #C7C4C4;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 19px;
}

#report {
	margin-left: auto;
	color: #FD5E53;
	cursor: pointer;
}

#post-time {
	color: #C7C4C4;
}

#slash {
	margin-left: 5px;
	margin-right: 5px;
	color: #C7C4C4;
}

#lifeOrCertification {
	color: #C7C4C4;
}

#comm-crew-name, .small-circle3, #post-time, #slash, #lifeOrCertification, #reported, #report {
	padding-top: 15px;
}

.comm-sec3-top img {
	margin-right: 10px;
}

.community-section3 hr {
	margin-bottom: 30px;
	border: 0.1px solid #C7C4C4;
}

.community-section3 {
	margin-bottom: 30px;
}

.comm-sec3-bottom {
	height: 25px;
	display: flex;
	padding-left: 12px;
}

.heart {
	width: 25px;
	height: 24px;
	margin-right: 20px;
	cursor: pointer;
}

#comment {
	cursor: pointer;
}

.comm-sec3-mid {
	margin-bottom: 10px;
}

#post-text {
	margin-bottom: 20px;
	font-size: 15px;
}

#report-frame {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	
}

#report-frame2 {
	background-color: white;
	padding: 30px 30px 20px 30px;
	border: 1px solid #888;
	width: 420px;
	height: 290px;
	border-radius: 8px;
	position: absolute;
	transform: translate(-50%, 0%);
	top: 40%;
	left: 50%;
}

#report-frame2 p {
	font-size: 20px;
	margin-bottom: 15px;
}

#input-text2 {
	outline: none;
	resize: none;
	border-radius: 5px;
	height: 100px;
	font-size: 17px;
	padding: 10px;
	border-color: #C7C4C4;
}

#report-frame3 {
	display: flex;
	flex-direction: column;
	height: 200px;
	
}

#report-btn {
	width: 230px;
	height: 35px;
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 20px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #FD5E53;
	padding-top: 5px;
	cursor: pointer;
}

#cancel-btn {
	width: 230px;
	height: 35px;
	font-size: 17px;
	color: #666666;
	border: none;
	border-radius: 5px;
	background-color: #e3e3e3;
	padding-top: 5px;
	cursor: pointer;
}

#btn-range {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#post-frame {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
}

.post-expand {
	background-color: white;
	border: 1px solid #888;
	width: 1000px;
	height: 600px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, 0%);
	top: 20%;
	left: 50%;
	display: flex;
}

.post-expand-left {
	height: 100%;
	width: 70%;
	border: 0.1px solid #C7C4C4;
}

.post-expand-left img {
	height: 100%;
	width: 100%;
}

.post-expand-right {
	height: 100%;
	width: 30%;
	border: 0.1px solid #C7C4C4;
}

.post-right-top {
	height: 80px;
	display: flex;
	padding-left: 20px;
	padding-top: 13px;
	border-bottom: 1px solid #C7C4C4;
}

.post-right-top img {
	width: 57px;
	height: 57px;
}

.post-right-top p {
	margin-left: 20px;
	padding-top: 21px;
	font-size: 18px;
}

.post-right-mid {
	height: 435px;
	border-bottom: 1px solid #C7C4C4;
}

.comment-frame {
	height: 45px;
	display: flex;
	margin-left: 20px;
	margin-top: 27px;
}

.comment-frame img {
	height: 45px;
	margin-right: 4px;
}

.comment-frame p {
	margin-left: 13px;
	margin-top: 15px;
}

.comment-frame p:nth-child(3) {
	color: #929292;
}

.post-right-bottom {
	padding-left: 20px;
	padding-top: 13px;
	display: flex;
}

#comment-input {
	outline: none;
	resize: none;
	border: none;
	width: 230px;
	height: 30px;
	font-size: 16px;
	padding-top: 7px;
}

.comment-post {
	padding-top: 9px;
	width: 50px;
	color: #FD5E53;
	text-align: center;
	cursor: pointer;
}



/* manager ver. */
#reported {
	color: #FD5E53;
	margin-left: 20px;
}

.post-delete {
	width: 70px;
	border: none;
	border-radius: 30px;
	background-color: #FD5E53;
	color: white;
	height: 30px;
	font-size: 13px;
	cursor: pointer;
	margin-left: auto;
	margin-top: 6px;
	padding-top: 2px;
}

.report-reason-frame {
	background-color: rgb(215, 215, 215);
	width: 265px;
	height: 60px;
	position: absolute;
	left: 300px;
	border-radius: 10px;
	border: 1px solid rgb(215, 215, 215);
	bottom: 500px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.report-reason-frame:after {
	border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid rgb(215, 215, 215);
    content: "";
    position: absolute;
    bottom: 59px;
    left: 20px;
}

