.notice-ment {
    display: flex;
    justify-content: right;
    color: #c7c4c4;
}
.container-create-account > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container-create-account > div > span {
    width: 150px;
    text-align: left;
}

.create-email-box,
.create-password-box,
.double-check-pw-box,
.double-check-email {
    width: 480px;
    height: 99px;
    padding: 10px;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    font-size: 16px;
}
.double-check-email {
    width: 120px;
    height: 99px;
    border: 1px solid #fd5e53;
    border-radius: 10px;
    background-color: #fd5e53;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.validation-icon {
    margin-left: 10px;
    color: green;
    display: none;
}

.active-area-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 480px;
}

.active-area-btn input[type='button'] {
    width: calc(33.33% - 10px); /* 3 buttons per row with a gap */
    padding: 10px;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.active-area-btn input[type='button']:hover {
    background-color: #fd5e53;
    color: #fff;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.join-check-btn {
    width: 100%;
    height: 99px;
    border-radius: 10px;
    background-color: #fd5e53;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.join-check-btn:hover {
    opacity: 0.8;
}
