* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.frame {
	height: 100vh;
	width: 100vw;
}

.create-crew-content {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	height: 900px;
	width: 680px;
	justify-content: space-around;
	margin: auto;
}

.crew-info-font {
	color: #666666;
	font-size: 18px;
	width: 164px;
	padding-top: 17px;
	padding-left: 10px;
}

.crew-info-font a {
	color: #FD5E53;
}

.crewname-input {
	font-size: 18px;
	width: 350px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #C7C4C4;
	padding-left: 10px;
	margin-top: 5px;
}

.crewname-overlap-check {
	height: 50px;
	width: 130px;
	font-size: 16px;
	border-radius: 5px;
	color: #FD5E53;
	background-color: white;
	border: 1px solid #FD5E53;
	margin-left: 12px;
	cursor: pointer;
}

.upload-img {
	background-color: #D9D9D9;
	height: 160px;
	width: 350px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

#camera-icon {
	margin-top: 73px;
}

.set-crew-img {
	display: flex;
	flex-direction: row;
	margin-top: 68px;
}

.set-crewname {
	display: flex;
	flex-direction: row;
}

.set-active-area {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.all-areas {
	display: flex;
	flex-direction: column;
}

.set-sports-type {
	display: flex;
	flex-direction: row;
}

.choice-all button {
	height: 50px;
	font-size: 17px;
	color: #666666;
	border-radius: 5px;
	border: 1px solid #C7C4C4;
	background-color: white;
	margin-right: 7px;
	cursor: pointer;
}

.choice-all button.clicked {
	background-color: #FD5E53;
	color: white;
	border: 1px solid #FD5E53;
}

.area1, .area3, .area5, .area7,
.sport1, .sport2, .sport3, .sport5, .sport7, .sport8, .sport9 {
	width: 83px;
}

.area2, .area4, .area6, .area8, .area9,
.sport4, .sport6 {
	width: 103px;
}

.areas2 {
	margin-top: 10px;
}

.create-btn {
	text-align: center;
}

.create-crew {
	width: 350px;
	height: 50px;
	border-radius: 5px;
	font-size: 17px;
	border: 0;
	background-color: #FD5E53;
	color: white;
	align-items: center;
	padding-top: 5px;
	cursor: pointer;
}