* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.frame {
    height: 100vh;
    width: 100vw;
}

.crewname-frame {
    height: 80px;
}

.create-crew-content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 900px;
    width: 680px;
    justify-content: space-around;
    margin: auto;
}

.crew-info-font {
    color: #666666;
    font-size: 18px;
    width: 164px;
    padding-top: 17px;
    padding-left: 10px;
}

.crew-info-font a {
    color: #fd5e53;
}

.crewname-input {
    font-size: 18px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c7c4c4;
    padding-left: 10px;
    margin-top: 5px;
}

.crewname-overlap-check {
    height: 50px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    color: #fd5e53;
    background-color: white;
    border: 1px solid #fd5e53;
    margin-left: 12px;
    cursor: pointer;
}

#check-overlap {
	display: flex;
	margin-top: 10px;
    margin-left: 168px;
    display: none;

}

#check-overlap-message {
    font-size: 15px;
    width: 200px;
	color: #FD5E53;
    display: flex;
    margin-left: 10px;
    padding-top: 1px;
}

#get-btn {
    height: 50px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    color: #fd5e53;
    background-color: white;
    border: 1px solid #fd5e53;
    margin-left: 18px;
    cursor: pointer;    
}

.upload-img {
    background-color: #d9d9d9;
    height: 160px;
    width: 350px;
    border-radius: 5px;
    text-align: center;
}

.set-crew-img {
    display: flex;
    flex-direction: row;
    margin-top: 68px;
}

.set-crewname {
    display: flex;
    flex-direction: row;
}

.set-active-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.all-areas {
    display: flex;
    flex-direction: column;
}

.set-sports-type {
    display: flex;
    flex-direction: row;
}

.choice-all1 button {
    height: 50px;
    font-size: 17px;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #c7c4c4;
    background-color: white;
    margin-right: 7px;
    cursor: pointer;
}

.choice-all2 button {
    height: 50px;
    font-size: 17px;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #c7c4c4;
    background-color: white;
    margin-right: 7px;
    cursor: pointer;
}

.choice-all1 button.clicked {
    background-color: #fd5e53;
    color: white;
    border: 1px solid #fd5e53;
}

.choice-all2 button.clicked {
    background-color: #fd5e53;
    color: white;
    border: 1px solid #fd5e53;
}

.area1,
.area3,
.area5,
.area7,
.sport1,
.sport2,
.sport3,
.sport5,
.sport7,
.sport8,
.sport9 {
    width: 83px;
}

.area2,
.area4,
.area6,
.area8,
.area9,
.sport4,
.sport6 {
    width: 103px;
}

.areas2 {
    margin-top: 10px;
}

.create-btn {
    text-align: center;
}

#create-crew {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    border: 0;
    background-color: #fd5e53;
    color: white;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}
