.notice-ment {
    display: flex;
    justify-content: right;
    color: #c7c4c4;
}
.container-create-account {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 680px;
    justify-content: space-around;
    margin: auto;
}

.create-password-box,
.double-check-pw-box,
.double-check-email {
    width: 480px;
    height: 60px;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    font-size: 16px;
}

.validation-icon-5 {
    margin-left: 10px;
    color: green;
    display: none;
}

.active-area-btn button {
    height: 50px;
    font-size: 17px;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #c7c4c4;
    background-color: white;
    margin-right: 7px;
    cursor: pointer;
}

.active-area-btn button.clicked {
    background-color: #fd5e53;
    color: white;
    border: 1px solid #fd5e53;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.join-check-btn {
    width: 350px;
    height: 60px;
    border-radius: 5px;
    font-size: 17px;
    border: 0;
    background-color: #fd5e53;
    color: white;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}

.join-check-btn:hover {
    opacity: 0.8;
}

.create-email {
    display: flex;
    flex-direction: row;
}

.create-email-text {
    color: #666666;
    font-size: 18px;
    width: 164px;
    padding-top: 30px;
    padding-left: 10px;
}

.create-email-text a {
    color: #fd5e53;
}

.double-check-email {
    height: 60px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #fd5e53;
    margin-left: 12px;
    cursor: pointer;
}

.create-email-box {
    font-size: 18px;
    width: 360px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #c7c4c4;
    padding-left: 10px;
    margin-top: 5px;
}

.create-password {
    display: flex;
    flex-direction: row;
}

.create-password-text {
    color: #666666;
    font-size: 18px;
    width: 164px;
    padding-top: 17px;
    padding-left: 10px;
}

.create-password-text a {
    color: #fd5e53;
}

.double-check-pw {
    display: flex;
    flex-direction: row;
}

.double-check-pw-text {
    color: #666666;
    font-size: 18px;
    width: 164px;
    padding-top: 17px;
    padding-left: 10px;
}

.double-check-pw-text a {
    color: #fd5e53;
}

.active-area {
    display: flex;
    flex-direction: row;
}

.active-area-text {
    color: #666666;
    font-size: 18px;
    width: 164px;
    padding-top: 17px;
    padding-left: 10px;
}

.active-area-text a {
    color: #fd5e53;
}
