* {
	box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.info-frame {
	height: 100vh;
    width: 100vw;
	display: flex;
	justify-content: center;
}

.info-content {
	height: 100vh;
	width: 1050px;
	padding-top: 250px;
}



.info-content-section1 {
	height: 400px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	width: 1050px;
}

.info-content-section2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	height: 70px;
	width: 1050px;
}

#crew-join-btn {
	color: white;
	background-color: #FD5E53;
	height: 70px;
	width: 400px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#crew-join-btn.clicked {
	background-color: #C7C4C4;
	color: #FFFFFF;
}

.display-crew-img {
	width: 500px;
	display: flex;
	justify-content: space-around;
}

.display-crew-info {
	width: 500px;
}

.crew-active-imgs {
	width: 600px;
}

.crew-active-imgs img {
	width: 500px;
	object-fit: fill;
	height: 100%;
	border-radius: 7px;
}

.before-btn, .after-btn {
	display: flex;
	align-items: center;
}

.info1 {
	display: flex;
	height: 70px;
}

.info1 div:nth-child(3) {
	margin-left: auto;
}

#infoCrewName {
	color: #1C1C1C;
	font-size: 50px;
	padding-top: 10px;
	display: flex;
	align-items: end;
	font-weight: bold;
	
}

#joinPersonNum {
	display: flex;
	align-items: end;
	padding-bottom: 5px;
	margin-left: 19px;	
}

#joinPersonNum p {
	color: #666666;
	font-size: 16px;
}

.info-icons {
	display: flex;
	align-items: end;
	justify-content: flex-end;
}

.info-icons svg {
	cursor: pointer;
}

#icon-svg2 {
	margin-left: 20px;
}

.info2 {
	margin-top: 20px;
	height: 40px;
	background-color: #FD5E53;
	font-size: 20px;
	font-weight: bold;
	padding-left: 30px;
	color: white;
	border-radius: 5px;
	padding-top: 12px;
	width: 500px;
}

.info3 {
	margin-top: 35px;
	height: 225px;
}

.active-item {
	display: flex;
	height: 40px;
	margin-bottom: 28px;
}

#item-bar {
	background-color: #FD5E53;
	width: 6px;
	border-radius: 2px;
	margin-right: 20px;
}

#active-period {
	font-size: 18px;
	color: #666666;
	display: flex;
	align-items: center;
	margin-right: 16px;
}

#active-name {
	font-size: 19px;
	color: #1C1C1C;
	display: flex;
	align-items: center;
	overflow: auto;
	white-space: nowrap;
}

#join-complete {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	visibility: hidden;
}

#join-complete-message {
	margin-left: 10px;
	font-size: 15px;
	padding-top: 2px;
	width: 125px;
	color: #FD5E53;
}

#crewJoinBtn {
	display: flex;
	justify-content: center;
}