.container-pw {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 638px;
    height: 99px;
}
.site-name {
    font-weight: 700;
    font-size: 135px;
    color: #fd5e53;
}
.divider {
    width: 1215px;
    height: 1px;
    background-color: #fd5e53;
    margin: 30px 0;
}
.ment-email {
    color: #666666;
    padding-bottom: 30px;
    width: 638px;
    text-align: left;
    padding-left: 2px;
    font-size: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.login-id {
    width: 638px;
    height: 99px;
    font-size: 20px;
    color: #c7c4c4;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    position: relative;
}
.validation-icon {
    position: absolute;
    font-size: 17px;
    color: #fff;
    background-color: #fd5e53;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-left: 550px;
    margin-bottom: 15px;
}
.submit-button {
    width: 638px;
    height: 99px;
    background-color: #fd5e53;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
}
