.mypage-container {
  display: flex;
  justify-content: space-evenly;
}

.section_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 90px;
}

.mypage-tree1 {
  margin-top: 100px;
  width: 300px;
  z-index: 2;
  position: relative;
}

.mypage-earth {
  position: relative;
  top: -85px;
  width: 400px;
  z-index: 1;
}

.section_right {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}

.mycrew,
.mychallenge {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.mycrew-title,
.mychallenge-title {
  width: 100%;
  height: 40px;
  background-color: #114232;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 20px 0;
}

.mycrew-content,
.mychallenge-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}

.mycrew-content img,
.mychallenge-content img {
  width: 6px;
  height: 45px;
}

.mycrew-content-date,
.mychallenge-content-date {
  color: #666666;
  padding: 0 20px;
}

.mychallenge-content-count {
  color: #114232;
  margin-left: 20px;
}

.mychallege-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #c7c4c4;
  margin-top: 30px;
  padding-bottom: 30px;
}

.new-challenge {
  width: 33.5px;
  height: 26.8px;
  color: white;
  background-color: #87a922;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.mypage-token {
  display: flex;
  justify-content: flex-end;
  color: #c7c4c4;
  font-size: 17px;
  margin-right: 10px;
}

/* modal */
.mypage-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.mypage-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 290px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mypage-modal button {
  width: 200px;
  margin: 10px 5px 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.moveToPlantbook {
  background-color: #87a922;
  color: white;
}

.cancelMoveToPlantbook {
  background-color: #f4f4f4;
  color: #666666;
}
