.profileChange-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* profileChange_top */
.profileChange_top {
  margin-top: 140px;
  position: relative;
  display: inline-block;
  width: 186.73px;
  height: 187.83px;
  margin-bottom: 20px;
}

.profile-img {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: block;
}

.profile-edit {
  position: absolute;
  width: 64.27px;
  transform: translate(230%, -85%);
  cursor: pointer;
}

/* profileChange_middle */
.profileChange_middle-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileChange_middle {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.profileChange_middle-title {
  display: flex;
  justify-content: flex-start;
  color: #666666;
  font-size: 18px;
  margin-bottom: 15px;
}

.profileChange_middle-content,
.area-btn-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 565.63px;
  margin-bottom: 10px;
}

.nickname-input,
.crew-input {
  /* width: 400px; */
  width: calc(100% - 170px);
  height: 60px;
  border: 1px solid #c7c4c4;
  border-radius: 10px;
  color: #666666;
  font-size: 18px;
  margin-right: 10px;
  padding: 20px;
}

.duplicate-check-btn,
.leave-crew-btn {
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fd5e53;
  border: 1px solid #fd5e53;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

#duplicate-check-msg {
  display: none;
  color: #fd5e53;
}

.profileChange_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 565.63px;
}

.profileChange_area button {
  border: 1px solid #c7c4c4;
  border-radius: 10px;
  color: #666666;
  background-color: white;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}

.profileChange_area button.active {
  color: white;
  background-color: #fd5e53;
  border: none;
  border-radius: 10px;
}

.area-btn-bottom button {
  margin-right: 18px;
}

.area-btn-bottom,
.area-btn-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* button */
.profileChange-complete-btn {
  width: 100%;
  min-width: 400px;
  height: 60px;
  font-size: 18px;
  color: white;
  background-color: #fd5e53;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
  cursor: pointer;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 290px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trashcan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  background-color: #fd5e53;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.modal-content p {
  font-weight: bold;
  margin: 20px 0;
}

.modal button {
  width: 200px;
  margin: 10px 5px 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmSecession {
  background-color: #fd5e53;
  color: white;
}

#cancelSecession {
  background-color: #f4f4f4;
  color: #666666;
}
