.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* profileChange_top */
.profileChange_top {
  margin-top: 140px;
  position: relative;
  display: inline-block;
  width: 186.73px;
  height: 187.83px;
  margin-bottom: 20px;
}

.profile-img {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: block;
}

.profile-edit {
  position: absolute;
  width: 64.27px;
  transform: translate(230%, -85%);
}

/* profileChange_middle */
.profileChange_middle-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileChange_middle {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.profileChange_middle-title {
  display: flex;
  justify-content: flex-start;
  color: #666666;
  font-size: 18px;
  margin-bottom: 15px;
}

.profileChange_middle-content,
.area-btn-top {
  display: flex;
  justify-content: space-between;
  width: 565.63px;
  margin-bottom: 10px;
}

.nickname-input,
.crew-input {
  width: 400px;
  height: 60px;
  border: 1px solid #c7c4c4;
  border-radius: 10px;
  color: #666666;
  font-size: 18px;
  margin-right: 10px;
  padding: 20px;
}

.duplicate-check-btn,
.leave-crew-btn {
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fd5e53;
  border: 1px solid #fd5e53;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

#duplicate-check-msg {
  display: none;
  color: #fd5e53;
  margin-top: 20px;
}

.profileChange_area {
  display: flex;
  flex-direction: column;
  width: 565.63px;
}

.profileChange_area button {
  border: 1px solid #c7c4c4;
  border-radius: 10px;
  color: #666666;
  background-color: white;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}

.profileChange_area button.active {
  color: white;
  background-color: #fd5e53;
  border: none;
  border-radius: 10px;
}

.area-btn-bottom button {
  margin-right: 18px;
}

/* button */
.profileChange-complete-btn {
  width: 400px;
  height: 60px;
  font-size: 18px;
  color: white;
  background-color: #fd5e53;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
  cursor: pointer;
}
